@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@300;400&display=swap');
body {
  margin: 0;
  font-family: 'Taviraj', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
