.row_posters {
  display: flex;
  column-gap: 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_poster {
  object-fit: contain;
  max-height: 300px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.06);
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.star {
  cursor: pointer;
  transition: color 200ms;
}
input[type="radio"] {
  display: none;
}

.all_movie {
  display: grid;
  grid-template-columns: 350px auto auto auto;
  grid-gap: 1px;
  padding: 10px;
}

.card {
  margin-top: 1rem;
}

.image {
  object-fit: contain;
  max-height: 300px;
}
